{% extends 'women/base.html' %}

{% block content %}
<h1>h1: {{title}}</h1>
<h2>h2: {{title}}</h2>
<h3>h3: {{title}}</h3>
<h4>h4: {{title}}</h4>
<h5>h5: {{title}}</h5>
<h6>h6: {{title}}</h6>
<p>p: Параграф</p>
<a href="#">Ссылка №1</a><br>
<a href="#">Ссылка №2</a><br>
<a href="#">Ссылка №3</a><br>
<ul>
    <li>не маркированный список</li>
    <li>не маркированный список</li>
    <li>не маркированный список</li>
</ul>
<ol>
    <li>маркированный список</li>
    <li>маркированный список</li>
    <li>маркированный список</li>
</ol>
<ul class="non_li">
    <li>не маркированный список</li>
    <li>не маркированный список</li>
    <li>не маркированный список</li>
</ul>




{% endblock %}